:root {
  --color-dark: #0F1322;
  --color-dark-05: rgba(0, 0, 0, .05);
  --color-dark-50: rgba(0, 0, 0, .5);
  --color-dark-80: rgba(0, 0, 0, .8);
  --color-white: #ffffff;
  --color-green: #368772;
  --color-green-20: rgba(54, 135, 114, 0.20);
  --color-green-80: rgba(54, 135, 114, 0.80);
  --color-grey: #D6D6D6;
  --color-accent: #FFBF00;
  --color-accent-10: rgba(255, 191, 0, 0.1);
  --color-accent-50: rgba(255, 191, 0, 0.5);
  --color-error: #ff0000;
  --bg-gradient: linear-gradient(180deg, #5EEDC8 0%, #368772 50%, #368772 100%);
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Suez One";
  src: url("../fonts/Suez_One/SuezOne-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: calc(10px + 14 * (min(100vw, 100vh) - 320px) / 960);
  line-height: 1.5;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  overflow: hidden;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
}

body {
  padding: 0.985rem 0 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}

b,
strong {
  font-weight: 800;
}

.d-none {
  display: none !important;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-dark-80);
  border-radius: 1.2926577042rem;
  position: relative;
  padding: 1.4650120648rem;
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  position: relative;
  opacity: 1;
  width: 1.3788348845rem;
  height: 1.3788348845rem;
  background-color: var(--color-accent);
}
.swiper-pagination-bullet:not(:first-child)::after {
  position: absolute;
  top: 50%;
  right: 50%;
  content: "";
  height: 0.5170630817rem;
  transform: translateY(-50%);
  background-color: var(--color-accent);
  z-index: -1;
  width: var(--pagination-connector-width);
}
.swiper-pagination-bullet svg {
  width: 0.8617718028rem;
  height: 0.6894174423rem;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 0.8617718028rem;
  height: 0.8617718028rem;
  position: relative;
  background-color: var(--color-accent);
}
.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 210%;
  height: 210%;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle, var(--color-accent-50) 0%, var(--color-accent-50) 49%, var(--color-accent-10) 50%, var(--color-accent-10) 100%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.swiper-pagination-bullet-active svg {
  opacity: 0;
}
.swiper-pagination-bullet-active ~ .swiper-pagination-bullet {
  width: 1.3788348845rem;
  height: 1.3788348845rem;
  background-color: var(--color-grey);
}
.swiper-pagination-bullet-active ~ .swiper-pagination-bullet:not(:first-child)::after {
  background-color: var(--color-grey);
}
.swiper-pagination-bullet-active ~ .swiper-pagination-bullet svg {
  opacity: 0;
}

.header {
  margin-bottom: 1.2926577042rem;
}
.header .logo {
  width: 23.0093071355rem;
  margin: 0 auto;
}
.header .logo img {
  width: 100%;
}

.quiz {
  background-color: var(--color-white);
  border-radius: 2.1544295071rem;
  padding: 1.2926577042rem;
  margin-top: 1.7235436057rem;
}
.quiz-start {
  background-color: var(--color-white);
  padding: 1.2926577042rem;
  border-radius: 2.1544295071rem;
}
.quiz-start__subtitle {
  font-size: 1.3788348845rem;
  margin: 0;
}
.quiz-start__title {
  margin-top: 1.2926577042rem;
  margin-bottom: 2.2406066873rem;
  font-size: 1.7235436057rem;
}
.quiz-title {
  font-size: 2.0682523268rem;
  font-weight: 800;
  margin: 0;
}
.quiz-check {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.7235436057rem;
  height: 1.7235436057rem;
  border: 0.1723543606rem solid var(--color-dark-50);
  color: var(--color-white);
}
.quiz-check svg {
  width: 0.8617718028rem;
  height: 0.8617718028rem;
}
.quiz-answer {
  font-weight: 800;
  font-size: 1.0341261634rem;
}
.quiz-answers {
  padding-left: 0;
  list-style: none;
}
.quiz-answers li:not(:last-child) {
  margin-bottom: 0.8617718028rem;
}
.quiz-answers label {
  display: flex;
  align-items: center;
  gap: 0.8617718028rem;
  width: calc(100% - 2px);
  padding: 0.8617718028rem;
  border: 0.0861771803rem solid var(--color-dark-50);
  border-radius: 0.8617718028rem;
  cursor: pointer;
}
.quiz-answers label input {
  display: none;
}
.quiz-answers label.checked {
  border-color: var(--color-green-80);
  background-color: var(--color-green-20);
}
.quiz-answers label.checked .quiz-check {
  border: none;
  background-color: var(--color-green);
}
.quiz-group {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 1.7235436057rem;
  margin-bottom: 1.7235436057rem;
}
.quiz-group span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 0.6894174423rem;
  font-weight: 600;
  color: var(--color-error);
}
.quiz textarea {
  width: calc(100% - 2px);
  height: 16.3736642537rem;
  resize: none;
  border-radius: 0.8617718028rem;
  font-size: 1.3788348845rem;
  padding: 0.8617718028rem 0.8617718028rem 2.5853154085rem;
  background-color: var(--color-dark-05);
}
.quiz textarea:focus {
  outline: none;
}
.quiz-next-btn, .quiz-start-btn {
  padding: 1.4650120648rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-dark);
  border-radius: 1.1203033437rem;
  font-size: 2.0682523268rem;
  font-weight: 800;
  letter-spacing: -0.264px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.quiz-next-btn:disabled, .quiz-start-btn:disabled {
  opacity: 0.5;
}
.quiz-next-btn:active, .quiz-start-btn:active {
  background-color: var(--color-dark-80);
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.quiz-next-btn.final, .quiz-start-btn.final {
  color: var(--color-accent);
  text-transform: uppercase;
}

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-white);
  padding: 1.35rem 0;
}
.footer p {
  margin: 0;
  white-space: nowrap;
}
.footer p a {
  color: inherit;
  text-decoration: none;
}
